/* PageNotFound.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .heading {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 16px;
    /* animation: shake 0.8s infinite; */
  }
  
  .emoji {
    display: inline-block;
    font-size: 72px;
    margin-bottom: 24px;
    animation: shake 0.8s infinite;
  }
  
  /* span .sadFace {
    animation: shake 0.8s infinite;
  } */
  
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }